<nav class="flex flex-col bg-gray-800 w-64 px-4 tex-gray-900 border border-gray-800 navbar">
  <div class="flex flex-wrap mt-8">
    <div class="w-full">
      <img src="../../../assets/images/Unknown_person.jpg" class="mx-auto w-30 h-30 rounded-full" />
    </div>
    <div class="w-full flex justify-center">
      <span class="py-4 font-semibold text-2xl text-white text-center">Э.Эрдэнэдалай</span>
    </div>
    <div class="w-full bg-neutral-200 dark:bg-neutral-600 rounded-lg">
      <div class="bg-white p-0.5 text-center text-xs font-medium leading-none text-primary-100 rounded-lg"
        style="width: 25%">
        25%
      </div>
    </div>
  </div>

  <div class="mt-10 mb-4 border-t pt-4">
    <ul class="ml-4">
      <li
        class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
        <span>
          <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
            <path d="M16 20h4v-4h-4m0-2h4v-4h-4m-6-2h4V4h-4m6
                      4h4V4h-4m-6 10h4v-4h-4m-6 4h4v-4H4m0 10h4v-4H4m6
                      4h4v-4h-4M4 8h4V4H4v4z"></path>
          </svg>
        </span>
        <a href="#">
          <span class="ml-2">ЭЕШ</span>
        </a>
      </li>
      <li
        class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
        <span>
          <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
            <path d="M16 20h4v-4h-4m0-2h4v-4h-4m-6-2h4V4h-4m6
                      4h4V4h-4m-6 10h4v-4h-4m-6 4h4v-4H4m0 10h4v-4H4m6
                      4h4v-4h-4M4 8h4V4H4v4z"></path>
          </svg>
        </span>
        <a href="#">
          <span class="ml-2">МОНБУШО</span>
        </a>
      </li>
      <li
        class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
        <span>
          <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
            <path d="M16 20h4v-4h-4m0-2h4v-4h-4m-6-2h4V4h-4m6
                      4h4V4h-4m-6 10h4v-4h-4m-6 4h4v-4H4m0 10h4v-4H4m6
                      4h4v-4h-4M4 8h4V4H4v4z"></path>
          </svg>
        </span>
        <a href="#">
          <span class="ml-2">EJU</span>
        </a>
      </li>
    </ul>
  </div>
</nav>